<!DOCTYPE html>
<html>
  <head>
    <title>Spotdash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="search-container">
    <% if current_user %>
 Signed in as: <%= current_user.email %> | <%= link_to "Logout", destroy_user_session_path %>
<% else %>
<%= link_to 'Login', login_path %> | <%= link_to 'Register', new_user_session_path %></p>
<% end %>

    <%= yield %>
  </div>
  </body>
</html>
